@model MVC_kawiarnia.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryProductName.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryProductName.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.Raw(Model.ProductName.Substring(3, Model.ProductName.Length - 7))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.Raw(Model.Content.Substring(3, Model.Content.Length - 7))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.File)
        </dt>

        <dd>
            <div class="img_small">  <img src="@Html.DisplayFor(modelItem => Model.File)" alt="Tu powinien być obrazek"> </div>
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @{
        string x = "";
        string y = "";

        switch (Model.CategoryProductNameId)
        {
            case 1:
                x = "Appetizers";
                y = "przystawki";
                break;
            case 2:
                x = "Soups";
                y = "zupy";
                break;
            case 3:
                x = "Dinners";
                y = "obiady";
                break;
            case 4:
                x = "Desserts";
                y = "desery";
                break;
            case 5:
                x = "Coffees";
                y = "kawy";
                break;
            case 6:
                x = "Teas";
                y = "herbaty";
                break;
            default:
                x = "Index";
                y = "główna";
                break;
        }

        @Html.ActionLink("Wróć do listy " + y + "", x);
        } 
        |
        @Html.ActionLink("Back to List", "Index")
    </div>
    }
</div>
