@model IEnumerable<MVC_kawiarnia.Models.Product>

@{
    ViewBag.Title = "System menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="image-aboutus-sm-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System menu - Menu główne</h1>
                <div class="col-sm-4">
                    <h4>Serdecznie proszę o:</h4>
                    <ul>
                        <li>
                            Nie używanie wulgaryzmów w treści systemu
                        </li>
                        <li>
                            Pozostanie chociaż paru wpisów w bazie danych
                        </li>
                        <li>
                            Odwiedzić autora na stronie: www.mdwojak.pl
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><b>Możesz tutaj:</b></h4>
                    <ul>
                        <li>
                            <b>Przejsć do dodawania produktów do menu</b>
                        </li>
                        <li>
                            <b>Przejść do edycji produktów z menu</b>
                        </li>
                        <li>
                            <b>Podejrzeć dany produkt</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Kontakt z autorem:</h4>
                    <ul>
                        <li>
                            Strona: www.mdwojak.pl
                        </li>
                        <li>
                            Email: michal.dwojak92@gmail.com | michal@mdwojak.pl
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<input type="button" class="btn btn-primary" value="Dodaj nowy produkt" onclick="location.href='@Url.Action("Create")'" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryProductName.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.File)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryProductName.CategoryName)
            </td>
            <td>
                @Html.Raw(item.ProductName)
            </td>
            <td>
                @Html.Raw(item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                <div class="img_small">  <img src="@item.File" alt="Tu powinien być obrazek"> </div>
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Podgląd", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
