@model IEnumerable<MVC_kawiarnia.Models.AboutPage>

@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

@*<p>Use this area to provide additional information.</p>*@

<div class="page-section page-section--gray">
    <div class="wrapper">
        <h2 class="section-title section-title--gray">Historia Firmy</h2>

        <div class="timeline">


            @foreach (var item in Model.OrderByDescending(x=> x.AboutPageId))
            {
            <div class="timeline__item">
             <div class="timeline__item__date"> @Html.Raw(item.Date)</div>
              <div class="timeline__item__content">

                <h3 class="timeline__item__content__title">
                   @Html.Raw(item.Title)
                </h3>
                <div class="timeline__item__content__description">
                  @Html.Raw(item.UnderTitle)            
                </div>
                <div class="timeline__item__content__techs">

                Dodał: @item.OwnerInfo

                </div>
            </div>
        </div>
            }





        </div>
    </div>
</div>
