@model MVC_kawiarnia.Models.MainPageModel

@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>
        @foreach (var item in Model.ListJumbtronText.Take(1))
        {
            @item.JumbotronIdText1
        }

    </h1>
    <p class="lead">
        @foreach (var item in Model.ListJumbtronText.Take(1))
        {
            @item.JumbotronIdText2

        }
    </p>
    <input type="button" class="btn btn-primary btn-lg" value="Edytuj główny jumbotron &raquo;" onclick="location.href='@Url.Action("Index", "JumbotronTexts")'" />
</div>

<div class="row centered">

    <div class="col-sm-4 col-md-4">
        <h2>System opinii</h2>
        <img src="~/Content/Image/Icon/icons8-good-quality-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Dodawanie, usuwanie, edycja opinii z strony głównej.</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "Reviews")'" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Newsletter ustawienia</h2>
        <img src="~/Content/Image/Icon/icons8-news-100.png" class="img-rounded img-menu" alt="Cinque Terre" width="60" height="60">
        <p>Ustawienie wiadmości powitalnej po zapisaniu się.</p>
        <input type="button" class="btn btn-default" value="Lista osób &raquo;" onclick="location.href='@Url.Action("Index", "NewsletterListEmails")'" />
        <input type="button" class="btn btn-default" value="Wiadomość powitalna &raquo;" onclick="location.href='@Url.Action("Index", "NewsletterFirstEmails")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Newsletter reklama</h2>
        <img src="~/Content/Image/Icon/icons8-list-100(1).png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Wysyłanie reklamy - promocji zapisanym osobom</p>
        <input type="button" class="btn btn-default" value="Historia wysłanych &raquo;" onclick="location.href='@Url.Action("Index", "NewsletterAdvertisements")'" />
        <input type="button" class="btn btn-default" value="Napisz reklamę &raquo;" onclick="location.href='@Url.Action("Create", "NewsletterAdvertisements")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Powiadomienia</h2>
        <img src="~/Content/Image/Icon/icons8-checklist-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Lista osób otrzymującej wiadomości od klientów.</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "WorkersLists")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Konto e-mail</h2>
        <img src="~/Content/Image/Icon/icons8-urgent-message-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Konfiguracja konta e-mail wysyłającego wiadomości.</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "SendEmailAccounts")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Zakładka kontakt</h2>
        <img src="~/Content/Image/Icon/icons8-map-marker-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Edycja godzin otwarcia, link do mapy</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "Contacts")'" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Okno promocyjne</h2>
        <img src="~/Content/Image/Icon/icons8-sale-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Dodawanie, usuwanie, edycja treści - włączenie/wyłączenie</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "InfPromoFirstPages")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Kupony</h2>
        <img src="~/Content/Image/Icon/icons8-coupon-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Dodawanie, usuwanie, edycja treści</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "Coupons")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Strona główna - kawy</h2>
        <img src="~/Content/Image/Icon/icons8-file-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Dodawanie, usuwanie, edycja treści</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "InfoFirstPages")'" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Historia firmy</h2>
        <img src="~/Content/Image/Icon/icons8-time-machine-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Dodawanie, usuwanie, edycja treści</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "AboutPages")'" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Wydarzenia</h2>
        <img src="~/Content/Image/Icon/icons8-calendar-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Dodawanie, usuwanie, edycja treści</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Index", "Events")'" />
    </div>
</div>

<hr />
<h1 class="text-center">Menu</h1>
<hr />
<div class="row centered">

    <div class="col-sm-4 col-md-4">
        <h2>Nowa pozycja</h2>
        <img src="~/Content/Image/Icon/icons8-food-64.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Dodawanie produktów do menu głównego wraz z wyborem kategorii</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Create", "Products")'" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Przystawki</h2>
        <img src="~/Content/Image/Icon/icons8-restaurant-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Wyświetlenie listy wszystkich przystawek - możliwość edycji i usuwania</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Appetizers", "Products")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Zupy</h2>
        <img src="~/Content/Image/Icon/icons8-vegan-food-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Wyświetlenie listy wszystkich przystawek - możliwość edycji i usuwania</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Soups", "Products")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Zestawy obiadowe</h2>
        <img src="~/Content/Image/Icon/icons8-meal-128.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Wyświetlenie listy wszystkich przystawek - możliwość edycji i usuwania</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Dinners", "Products")'" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Desery</h2>
        <img src="~/Content/Image/Icon/icons8-ice-cream-sundae-100.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Wyświetlenie listy wszystkich przystawek - możliwość edycji i usuwania</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Desserts", "Products")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Kawy</h2>
        <img src="~/Content/Image/Icon/icons8-cafe-128.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Wyświetlenie listy wszystkich przystawek - możliwość edycji i usuwania</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Coffees", "Products")'" />
    </div>

    <div class="col-sm-4 col-md-4">
        <h2>Herbaty</h2>
        <img src="~/Content/Image/Icon/icons8-tea-128.png" class="img-rounded" alt="Cinque Terre" width="60" height="60">
        <p>Wyświetlenie listy wszystkich przystawek - możliwość edycji i usuwania</p>
        <input type="button" class="btn btn-default" value="Wejdź &raquo;" onclick="location.href='@Url.Action("Teas", "Products")'" />
    </div>


</div>