@model MVC_kawiarnia.Models.Reviews

@{
    ViewBag.Title = "Opinia dodaj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="image-aboutus-sm-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System dodawania opinii</h1>
                <div class="col-sm-4">
                    <h4>Serdecznie proszę o:</h4>
                    <ul>
                        <li>
                            Nie używanie wulgaryzmów w treści systemu
                        </li>
                        <li>
                            Pozostanie chociaż paru wpisów w bazie danych
                        </li>
                        <li>
                            Odwiedzić autora na stronie: www.mdwojak.pl
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><b>Możesz tutaj:</b></h4>
                    <ul>
                        <li>
                            <b>Wprowadzić swoją własną opinię jako klient</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Kontakt z autorem:</h4>
                    <ul>
                        <li>
                            Strona: www.mdwojak.pl
                        </li>
                        <li>
                            Email: michal.dwojak92@gmail.com | michal@mdwojak.pl
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ReviewText, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.ReviewText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RatingMealsId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RatingMealsId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RatingMealsId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RatingEmployeesId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RatingEmployeesId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RatingEmployeesId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RatingPlaceId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RatingPlaceId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RatingPlaceId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-1 tooltip-wrapper newreviews disabled clearfix" data-title="Wymagana zgoda!">
                <input type="submit" value="Utwórz" class="btn btn-default" id="buttonReviews" disabled />


            </div>
            <div class="col-md-offset-2 col-md-10 clearfix" id="CheckboxContent">
                <input type="checkbox" id="myCheck" onclick="EnableReviews()">
                “Wyrażam zgodę na wyświetlanie napisanych przeze mnie opinii przez innych użytkowników jak ich modyfikację oraz usunięcie. Rozumiem, że posiadam prawo w dowolnym momencie wycofać zgodę poprzez: kontakt z administratorem pod adresem michal.dwojak92@gmail.com oraz ręcznego usunięcia opinii logując się do systemu kawiarni. Jestem świadomy/świadoma, zakazu podawania danych umożliwiających rozpoznanie mnie oraz innych osób trzecich. Rozumiem, że treści zamieszczone na stronie nie mogą być obraźliwe, wulgarne ani w jakikolwiek inny sposób odbiegać od powszechnych norm.”
            </div>
        </div>

            <script>

                $(function () {
                    $('.tooltip-wrapper').tooltip({ position: "bottom" });
                });


                function EnableReviews() {
                    var checkBox = document.getElementById("myCheck");
                    if (checkBox.checked == true) {
                        document.getElementById("buttonReviews").disabled = false;
                        //$('#hmm').attr('data-title', '');
                        //$('#hmm').removeClass('tooltip-wrapper disabled');
                    }
                    else {
                        document.getElementById("buttonReviews").disabled = true;

                    }
                }
            </script>


        </div>

}

<div>
    @Html.ActionLink("Wróć do strony", "Index", "Home")
</div>
