@model MVC_kawiarnia.Models.MainPageModel


@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>
        @foreach (var item in Model.ListJumbtronText.Take(1))
        {
            @item.JumbotronIdText1
        }

    </h1>
    <p class="lead">
        @foreach (var item in Model.ListJumbtronText.Take(1))
        {
            @item.JumbotronIdText2

        }

    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Przeczytaj więcej &raquo;</a></p>

</div>


<div class="row centered">

    <div class="col-sm-4 col-md-4">
        <h2>Kawa 1</h2>
        <img src="~/Content/Image/latte-spider-web.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Kawa 2</h2>
        <img src="~/Content/Image/1-1267462282CoNq.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Kawa 3</h2>
        <img src="~/Content/Image/coffee-latte-11284391087Ksg2.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>






<div id="myModal" class="modal fade">

    <div class="card">
        <h1>Promocja</h1>
        <img src="~/Content/Image/Icon/icons8-discount-100.png" alt="Promo" style="width:30%">
        <h2>Do 27.01.2047</h2>

        <p class="title">Zobacz koniecznie nasze nowe kupony!</p>

        <div style="margin: 12px 0;">
            <p>Więcej o nas na:</p>
            <a href="https://pl.linkedin.com/in/micha%C5%82-dwojak-586926141"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100000688731893"><i class="fa fa-facebook"></i></a>
        </div>
        <p>

            <button type="button" onclick="location.href=('@Url.Action("Contact", "Home")')">Zobacz kupony i promocje</button>
        </p>
    </div>

   

</div>
<p>
    @Html.ActionLink("Dodaj swoją opinię!", "Create", "Home")
</p>

@foreach (var item in Model.ListReviews.Take(5))
{
    <div class="container_message">
        <img src="~/Content/Image/coffee-break-1454539196eJw.jpg" alt="Avatar" style="width: 70px; height: 70px;">
        <p class="alignright">
            @Html.DisplayNameFor(model => model.Reviews.RatingEmployees.RatingEmployeesId):  <b>@item.RatingEmployees.RatingEmployeesInt</b>,
            @Html.DisplayNameFor(model => model.Reviews.RatingMeals.RatingMealsId): <b>@item.RatingMeals.RatingPlaceInt</b>,
            @Html.DisplayNameFor(model => model.Reviews.RatingPlace.RatingPlaceId): <b>@item.RatingPlace.RatingPlaceInt</b>
        </p>
        <p><span>@Html.DisplayNameFor(model => model.Reviews.Name): @Html.DisplayFor(modelItem => item.Name). </span>           </p>
        <p class="alignright">
          <b>  Ocena ogólna : @(((Convert.ToDecimal(@item.RatingMeals.RatingPlaceInt + @item.RatingPlace.RatingPlaceInt + @item.RatingEmployees.RatingEmployeesInt)) / 3).ToString("#.##"))</b>
        </p>
        <div>

            <p> @Html.DisplayNameFor(model => model.Reviews.ReviewText):  @Html.DisplayFor(modelItem => item.ReviewText)</p>

        </div>
    </div>


}
    


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>
}
