@model MVC_kawiarnia.Models.MainPageModel


@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>
        @foreach (var item in Model.ListJumbtronText.Take(1))
        {
            @item.JumbotronIdText1
        }
        
    </h1>
    <p class="lead">
        @foreach (var item in Model.ListJumbtronText.Take(1))
    {
        @item.JumbotronIdText2

    }

    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Przeczytaj więcej &raquo;</a></p>
</div>

<div class="row centered">

    <div class="col-sm-4 col-md-4">
        <h2>Kawa 1</h2>
        <img src="~/Content/Image/latte-spider-web.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>

    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Kawa 2</h2>
        <img src="~/Content/Image/1-1267462282CoNq.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

    </div>
    <div class="col-sm-4 col-md-4">
        <h2>Kawa 3</h2>
        <img src="~/Content/Image/coffee-latte-11284391087Ksg2.jpg" class="img-circle" alt="Cinque Terre" width="200" height="200">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<p>
    @Html.ActionLink("Dodaj swoją opinię!", "Create", "Reviews")
</p>
<table class="table">
    <tr>
               <th>
            @Html.DisplayNameFor(model => model.Reviews.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews.ReviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews.RatingEmployees.RatingEmployeesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews.RatingMeals.RatingMealsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews.RatingPlace.RatingPlaceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reviews.RatingSummary.RatingPlaceText)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.ListReviews.Take(5))
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingEmployees.RatingEmployeesId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingMeals.RatingMealsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingPlace.RatingPlaceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingSummary.RatingPlaceText)
        </td>

    </tr>
    }

</table>
