@model IEnumerable<MVC_kawiarnia.Models.Product>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    Table info:
    1 = Przystawki
    2 = Zupy
    3 = Zestawy Obiadowe
    4 = Desery
    5 = Desery
    6 = Herbaty
*@

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="jumbotron jumbotron-dinner text-left">
                    <h1>
                        Menu główne
                    </h1>
                    <p class="lead">
                        Zobacz co ciepłego u nas można zjeść!

                    </p>
                    <p><a href="@Url.Action("Coupons","Home")" class="btn btn-primary btn-lg">Zobacz również promocje &raquo;</a></p>

                </div>
            </div>
        </div>

        @{
            <div class="row">
                @foreach (var item in Model.Where(p => p.CategoryProductNameId <= 3).GroupBy(p => p.CategoryProductNameId))
                {
                    bool active = false;
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                        <div class="menu-block">

                            @foreach (var items in Model.OrderBy(p => p.CategoryProductNameId).Where(p => p.CategoryProductNameId == item.Key))
                            {
                                if (active == false)
                                {
                                    <h3 class="menu-title">@Html.DisplayFor(modelItem => items.CategoryProductName.CategoryName)</h3>

                                    active = true;
                                }
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img">
                                                <a class="example-image-link" href="@items.File" data-lightbox="@item.Key" data-title="Aby wyłączyć kliknij poza obszar zdjęcia"><img class="img-circle" src="@items.File" alt="Tu powinien być obraz" /></a>
                                            </div>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a>@Html.Raw(items.ProductName)</a></h5>
                                                <span class="dish-meta">@Html.Raw(items.Content)</span>
                                                <div class="dish-price">
                                                    <p>
                                                        PLN @Html.DisplayFor(modelItem => items.Cost)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="jumbotron jumbotron-drinks text-left">
                    <h1>
                        Desery i napoje
                    </h1>
                    <p class="lead">
                        Poznaj naszą świetną ofertę napojów i deserów

                    </p>
                  @*  <p><a href="@Url.Action("Coupons","Home")" class="btn btn-primary btn-lg">Zobacz również promocje &raquo;</a></p>*@

                </div>
            </div>
        </div>

        @{
            <div class="row">
                @foreach (var item in Model.Where(p => p.CategoryProductNameId > 3).GroupBy(p => p.CategoryProductNameId))
                {
                    bool active = false;
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb40">
                        <div class="menu-block">

                            @foreach (var items in Model.OrderBy(p => p.CategoryProductNameId).Where(p => p.CategoryProductNameId == item.Key))
                            {
                                if (active == false)
                                {
                                    <h3 class="menu-title">@Html.DisplayFor(modelItem => items.CategoryProductName.CategoryName)</h3>

                                    active = true;
                                }
                                <div class="menu-content">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="dish-img">
                                                <a class="example-image-link" href="@items.File" data-lightbox="@item.Key" data-title="Aby wyłączyć kliknij poza obszar zdjęcia"><img class="img-circle" src="@items.File" alt="Tu powinien być obraz" /></a>
                                            </div>
                                        
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                            <div class="dish-content">
                                                <h5 class="dish-title"><a>@Html.Raw(items.ProductName)</a></h5>
                                                <span class="dish-meta">@Html.Raw(items.Content)</span>
                                                <div class="dish-price">
                                                    <p>
                                                        PLN @Html.DisplayFor(modelItem => items.Cost)
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>




