@model IEnumerable<MVC_kawiarnia.Models.JumbotronText>

@{
    ViewBag.Title = "System jumbotron";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="image-aboutus-sm-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System jumbotron - Menu główne</h1>
                <div class="col-sm-4">
                    <h4>Serdecznie proszę o:</h4>
                    <ul>
                        <li>
                            Nie używanie wulgaryzmów w treści systemu
                        </li>
                        <li>
                            Pozostanie chociaż paru wpisów w bazie danych
                        </li>
                        <li>
                            Odwiedzić autora na stronie: www.mdwojak.pl
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><b>Możesz tutaj:</b></h4>
                    <ul>
                        <li>
                            <b>Przejść do edycji jumbotrona, który wyświetlany jest na głównej stronie</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Kontakt z autorem:</h4>
                    <ul>
                        <li>
                            Strona: www.mdwojak.pl
                        </li>
                        <li>
                            Email: michal.dwojak92@gmail.com | michal@mdwojak.pl
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JumbotronIdText1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JumbotronIdText2)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JumbotronIdText1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JumbotronIdText2)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.JumbotronTextId })
            </td>
        </tr>
    }

</table>
