@model IEnumerable<MVC_kawiarnia.Models.InfoFirstPage>

@{
    ViewBag.Title = "System zdjęć pierwsza strona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="image-aboutus-sm-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System zdjęć z głównej strony - Menu główne</h1>
                <div class="col-sm-4">
                    <h4>Serdecznie proszę o:</h4>
                    <ul>
                        <li>
                            Nie używanie wulgaryzmów w treści systemu
                        </li>
                        <li>
                            Pozostanie chociaż paru wpisów w bazie danych
                        </li>
                        <li>
                            Odwiedzić autora na stronie: www.mdwojak.pl
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><b>Możesz tutaj:</b></h4>
                    <ul>
                        <li>
                            <b>Przejść edycji zdjęć i opisów z pierwszej strony</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Kontakt z autorem:</h4>
                    <ul>
                        <li>
                            Strona: www.mdwojak.pl
                        </li>
                        <li>
                            Email: michal.dwojak92@gmail.com | michal.mdwojak.pl
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnderString)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Files)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnderTitle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Raw(item.Title)
            </td>
            <td>
                @Html.Raw(item.UnderString)
            </td>
            <td>
                <div class="img_small">  <img src="@Html.DisplayFor(modelItem => item.Files)" alt="Tu powinien być obraz"> </div>
            </td>
            <td>
                @Html.Raw(item.UnderTitle)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.InfoFirstPageId })
            </td>
        </tr>
    }

</table>
