@model MVC_kawiarnia.Models.Contact

@{
    ViewBag.Title = "System kontaktu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="image-aboutus-sm-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System kontaktu, informacje - Menu główne</h1>
                <div class="col-sm-4">
                    <h4>Serdecznie proszę o:</h4>
                    <ul>
                        <li>
                            Nie używanie wulgaryzmów w treści systemu
                        </li>
                        <li>
                            Pozostanie chociaż paru wpisów w bazie danych
                        </li>
                        <li>
                            Odwiedzić autora na stronie: www.mdwojak.pl
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><b>Możesz tutaj:</b></h4>
                    <ul>
                        <li>
                            <b>Przejść do edycji danych na temat konta wykorzystywanego przez stronę WWW</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Kontakt z autorem:</h4>
                    <ul>
                        <li>
                            Strona: www.mdwojak.pl
                        </li>
                        <li>
                            Email: michal.dwojak92@gmail.com | michal.mdwojak.pl
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.We)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.We)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Th)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Th)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Su)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Su)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ContactId })
</p>

