@model MVC_kawiarnia.Models.Coupons

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Coupons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.Raw(Model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.Raw(Model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Files)
        </dt>

        <dd>
            <div class="img_small">  <img src="@Html.DisplayFor(modelItem => Model.Files)" alt="Tu powinien być obrazek"> </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnderTitle)
        </dt>

        <dd>
            @Html.Raw(Model.UnderTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
