@using MVC_kawiarnia.Models
@model LoginViewModel
@{
    ViewBag.Title = "Logowanie";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Witaj w wersji CMS kawiarni Michała Dwojaka - CafePiano</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group" id="LoginConsent">
                    <div class="col-md-offset-2 col-1 tooltip-wrapper newsletterwrap disabled" data-title="Wymagana zgoda!">
                        <input id="buttonLogin" type="submit" value="Zaloguj" class="btn btn-default" disabled />
                    </div>
                    <div class="col-md-offset-2 col-1" id="buttonLogin">
                        <input type="checkbox" id="myCheck1" onclick="EnableLogin()">
                        “Rozumiem, że otrzymuję dostęp do danych zawartych w systemie kawiarni i deklaruję ich nie wykorzystywać poza tym systemem. Jednocześnie oświadczam, że nie będę wprowadzał danych w postaci adresów kontaktowych (email oraz nr telefonu) nie będących w moim posiadaniu.”
                    </div>
                    <div class="col-md-offset-2 col-1" id="buttonLogin">
                        <input type="checkbox" id="myCheck2" onclick="EnableLogin()">
                        "Zapoznałem/łam się z <a href="@Url.Action("Policy","Home")">polityką prywatności</a> oraz z <a href="@Url.Action("Statute","Home")">regulaminem kawiarni</a> i deklaruję przestrzegać ich."
                    </div>


                    <script>

                        $(function () {
                            $('.tooltip-wrapper').tooltip({ position: "bottom" });
                        });


                        function EnableLogin() {
                            var checkBox1 = document.getElementById("myCheck1");
                            var checkBox2 = document.getElementById("myCheck2");
                            if (checkBox1.checked == true && checkBox2.checked == true) {
                                document.getElementById("buttonLogin").disabled = false;
                                //$('#hmm').attr('data-title', '');
                                //$('#hmm').removeClass('tooltip-wrapper disabled');
                            }
                            else {
                                document.getElementById("buttonLogin").disabled = true;

                            }
                        }
                    </script>


                </div>



                @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>*@
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}