@model MVC_kawiarnia.Models.NewsletterAdvertisement

@{
    ViewBag.Title = "System reklamowy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="image-aboutus-sm-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System newslettera, wiadomosć reklamowa - Menu edycji</h1>
                <div class="col-sm-4">
                    <h4>Serdecznie proszę o:</h4>
                    <ul>
                        <li>
                            Nie używanie wulgaryzmów w treści systemu
                        </li>
                        <li>
                            Pozostanie chociaż paru wpisów w bazie danych
                        </li>
                        <li>
                            Odwiedzić autora na stronie: www.mdwojak.pl
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><b>Możesz tutaj:</b></h4>
                    <ul>
                        <li>
                            <b>Edytować treść wysłanej akcji marketingowej</b>
                        </li>
                        <li>
                            <b>Wrócić do listy wysłanych akcji marketingowych</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Kontakt z autorem:</h4>
                    <ul>
                        <li>
                            Strona: www.mdwojak.pl
                        </li>
                        <li>
                            Email: michal.dwojak92@gmail.com | michal.mdwojak.pl
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.NewsletterAdvertisementId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Body, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Signature, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Signature, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Signature, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Wróć do listy", "Index")
</div>
