@model IEnumerable<MVC_kawiarnia.Models.NewsletterAdvertisement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderByDescending(item=>item.NewsletterAdvertisementId)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.Raw(item.Body)
        </td>
        <td>
            @Html.Raw(item.Signature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.NewsletterAdvertisementId }) |
            @Html.ActionLink("Details", "Details", new { id = item.NewsletterAdvertisementId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.NewsletterAdvertisementId })
        </td>
    </tr>
}

</table>
