@model IEnumerable<MVC_kawiarnia.Models.NewsletterAdvertisement>

@{
    ViewBag.Title = "System reklamowy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="image-aboutus-sm-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">System newslettera, wiadomosć reklamowa - Menu główne</h1>
                <div class="col-sm-4">
                    <h4>Serdecznie proszę o:</h4>
                    <ul>
                        <li>
                            Nie używanie wulgaryzmów w treści systemu
                        </li>
                        <li>
                            Pozostanie chociaż paru wpisów w bazie danych
                        </li>
                        <li>
                            Odwiedzić autora na stronie: www.mdwojak.pl
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4><b>Możesz tutaj:</b></h4>
                    <ul>
                        <li>
                            <b>Edytować wysłane wiadomości z systemu</b>
                        </li>
                        <li>
                            <b>Wysłać do listy odbiorców zapisanych do systemu wiadomość email</b>
                        </li>
                        <li>
                            <b>Usunąć wysłane reklamy</b>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h4>Kontakt z autorem:</h4>
                    <ul>
                        <li>
                            Strona: www.mdwojak.pl
                        </li>
                        <li>
                            Email: michal.dwojak92@gmail.com | michal.mdwojak.pl
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<input type="button" class="btn btn-primary" value="Napisz nową reklamę" onclick="location.href='@Url.Action("Create")'" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Signature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderByDescending(item => item.NewsletterAdvertisementId))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.Raw(item.Body)
            </td>
            <td>
                @Html.Raw(item.Signature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.NewsletterAdvertisementId }) |
                @Html.ActionLink("Pogląd", "Details", new { id = item.NewsletterAdvertisementId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.NewsletterAdvertisementId })
            </td>
        </tr>
    }

</table>
