@model IEnumerable<MVC_kawiarnia.Models.Reviews>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Utwórz nową opinie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingEmployees.RatingEmployeesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingMeals.RatingMealsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingPlace.RatingPlaceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingSummary.RatingPlaceText)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingEmployees.RatingEmployeesId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingMeals.RatingMealsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingPlace.RatingPlaceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RatingSummary.RatingPlaceText)
        </td>

        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id = item.ReviewsId }) |
            @Html.ActionLink("Detale", "Details", new { id = item.ReviewsId }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.ReviewsId })
        </td>
    </tr>
}

</table>
